
@media (min-width: 320px) and (max-width: 767px){ /*Small Screens*/
   #gameContainer {
      margin: auto 25px;
   }

   #gameText {
   font-size: 15px;
   padding: 5px;
   }

   #gameTitle {
      font-size: 7px;
      margin: 125px 5px;
   }

   #gameVisuals {
      font-size: 5px;
   }

   li {
   font-size: 15px;  
   }
}